  #sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
  }

  #sortable li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.4em;
    height: 18px;
  }

  #sortable li span {
    position: absolute;
    margin-left: -1.3em;
  }

  .yellow-background {
    background-color: #fff3cd !important;
    --bs-table-bg: #fff3cd !important;
    --bs-table-hover-bg: #e5d96a !important;
  }

  body {
    background-color: #f4f6f9;
  }

  .table-hover tbody tr:hover {
    background-color: #e2e6ea;
    cursor: move;
  }